<% if @flights.any? %>

<ul>
    <% @flights.each do |flight| %>
        <li>
        <%= flight.departure_airport.city %>
        <%= flight.arrival_airport.city  %>
        <%= flight.departure %>
    </li>
    <% end %>

</ul>  

<% else %>

<h3>No flights available for your selections</h3>
<% end%>